Flask==3.0.3
Werkzeug==3.0.1
fer==22.5.1
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
numpy==1.26.4
tensorflow==2.20.0
tf-keras==2.20.1
Pillow==10.2.0
matplotlib==3.10.0
deepface==0.0.90
retina-face==0.0.17
facenet-pytorch==2.6.0
moviepy==2.0.0.dev2
gunicorn==23.0.0
